examples
/examples.copy

/DocGen/DocGen.Console/obj
/DocGen/DocGen.Console/bin
/DocGen/DocGen.Console/.vs

/DocGen/.vs
/DocGen/DocGen.Processor/bin
/DocGen/DocGen.Processor/obj
/DocGen/DocGen.Processor/.vs
/DocGen/DocGen.Desktop/bin
/DocGen/DocGen.Desktop/obj
/DocGen/DocGen.Data/obj
/DocGen/DocGen.Data/bin
/DocGen/DocGen.Desktop/.vs/DocGen.Desktop.csproj.dtbcache.json
